.slide-i img {
  border-radius: 0.4rem 0 0 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(85, 85, 85, 0.2),
    0 0 0 0 rgba(104, 104, 104, 0.19);
}
.fw-banner {
  padding-top: 12rem;
  padding-left: 8rem;
  background-image: url(../../../assets/img/for-woman/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
  height: 60vh;
  width: 100vw;
  left: 120px !important;
}
.slick-list {
  height: fit-content !important;
}
.fw-slide {
  display: flex;
  margin: 0.4rem;
  justify-content: space-between;
  align-items: center;
}
.fw-box {
  display: flex;
  margin: 0 0.3rem;
  flex-direction: column;
}
.fw-s-deet {
  box-shadow: 0 1px 2px 0 rgba(141, 141, 141, 0.2), 0 2px 4px 0 #91919130;
  width: 160px;
  padding: 0.6rem;
  border-radius: 0.2rem;
}
.fw-s-deet p {
  font-size: 14px;
}
.fw-s-deet h3 {
  font-size: 16px;
}
.whi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.whi-con {
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.whi-box {
  padding: 0.2rem;
  margin: 0.6rem;
  width: 8rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(141, 141, 141, 0.2),
    0 2px 4px 0 rgba(145, 145, 145, 0.19);
}
.whi h4 {
  color: rgb(46, 46, 156);
}
.whi h5 {
  padding: 1rem;
  font-size: 12px;
}
.whi-box:hover {
  box-shadow: none;
  border: 1px solid #ececec;
  cursor: pointer;
}
.whi-box:hover h5 {
  color: rgb(46, 46, 156);
}
@media only screen and (max-width: 600px) {
  .fw-banner {
    background-size: contain;
    height: fit-content;
    padding: 1rem 0;
  }
  .banner-head {
    padding-left: 0.8rem;
  }
  .banner-head h5 {
    font-size: 18px !important;
    font-weight: 400;
    width: 13rem;
    color: rgb(23, 23, 177);
  }
  .banner-head p {
    font-size: 14px;
    font-weight: 600;
  }
}
