@media screen and (max-width: 800px) {
  .s-items {
    width: fit-content;
  }
}
@media screen and (max-width: 480px) {
  .s-items {
    width: fit-content !important;
  }
  .speciality {
    margin-bottom: 3rem;
  }
  .section-header h2 {
    font-size: 1rem !important;
    text-align: start;
    margin: 2rem 0 1rem;
  }
  .speicality-item p {
    font-size: 12px !important;
    line-height: 16px;
    text-align: start !important;
  }
  #img-os {
    padding: 0.8rem 0.5rem;
    border-radius: 20% !important;
    border: 0.1px solid #d1cdcd;
  }
  #img-os img {
    width: 90%;
    height: 90%;
  }
  .slick-next,
  .slick-prev {
    margin: 0%;
    padding: 0;
    height: 0%;
    width: 0 !important;
    opacity: 0 !important;
  }
  .view-btn {
    background-color: #fdfdfd !important;
    border: 0.2px solid #868686 !important;
    width: 90vw !important;
    padding: 0.1rem !important;
    font-size: 12px !important;
  }
  .slick-next:before {
    display: none;
  }
  .slick-track p {
    padding-left: 0;
  }
}
