.sc-p {
  margin-top: 0 !important;
  color: rgb(147, 164, 211) !important;
}
.sc-section {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sc-box p {
  font-size: 12px;
  margin: 0 auto;
}
.scu-p {
  padding: 0.6rem 0 0.6rem 0.2rem;
  width: 5.8rem;
  border-radius: 0 0 0.4rem 0.4rem;
}
.sc-box {
  flex: wrap;
  width: 6rem;
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(134, 134, 134, 0.1),
    0 6px 20px 0 rgba(134, 134, 134, 0.09);
}
.sc-box img {
  border-radius: 0.4rem 0.4rem 0 0;
}
