@media screen and (max-width: 800px) {
  .s-items {
    width: fit-content;
  }
  .section-header {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .s-items {
    width: fit-content !important;
  }
  .speciality {
    margin-bottom: 3rem;
  }
  .section-header h2 {
    font-size: 1rem !important;
    text-align: start;
    margin: 2rem 0 1rem;
  }
  #img-spec img {
    width: 60%;
    height: 60%;
  }
  .slick-next,
  .slick-prev {
    margin: 0%;
    padding: 0;
    height: 0%;
    width: 0 !important;
    opacity: 0 !important;
  }
  .view-btn {
    background-color: #fdfdfd !important;
    border: 0.2px solid #868686 !important;
    width: 90vw !important;
    padding: 0.1rem !important;
    font-size: 12px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none !important;
  }
  .spec-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0.4rem;
    border: 1px solid #a3a3a3;
    padding: 1rem;
    margin: 1rem;
  }
  .spec-box p {
    width: max-content;
    padding-top: 1rem;
    margin: 0 auto !important;
    padding-left: 0 !important;
  }
  .slick-slide {
    width: 160px !important;
  }
}
