.hb-banner {
  height: 10rem;
  width: 90vw;
  border-radius: 0.8rem;
  background-image: url("../../../../assets/img/home-banner.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hb-content {
  justify-content: center;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 8%;
  margin: 0 auto;
}
.hb-text {
  color: #fdfdfd;
}
.hb-center {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
