.mb-3 {
  width: 30%;
  height: inherit;
}
.form-control {
  margin-right: 0.8rem;
}
.form-control:focus {
  border-color: #919191;
  box-shadow: none;
}
#coming-soon {
  width: 100vw;
  height: fit-content;
  margin-bottom: 4rem;
}
.cs-input {
  outline: none;
  width: 14rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(234, 241, 239);
  padding: 0.5rem;
  margin-right: 1rem;
}
